name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: asan-ubsan
            cmake_flags: -DENABLE_CLANG_TIDY=ON -DENABLE_SANITIZERS=ON -DENABLE_THREAD_SANITIZER=OFF
            test_env:
              ASAN_OPTIONS: detect_leaks=0
          - name: tsan
            cmake_flags: -DENABLE_CLANG_TIDY=ON -DENABLE_SANITIZERS=OFF -DENABLE_THREAD_SANITIZER=ON
            test_env:
              TSAN_OPTIONS: halt_on_error=1
    name: ${{ matrix.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build g++ clang-tidy libssl-dev libsodium-dev libgtest-dev

      - name: Install GTest
        run: |
          sudo cmake -S /usr/src/googletest -B /tmp/gtest
          sudo cmake --build /tmp/gtest --target install

      - name: Configure
        run: cmake -S . -B build-${{ matrix.name }} -G Ninja -DCMAKE_BUILD_TYPE=Debug ${{ matrix.cmake_flags }}

      - name: Build
        run: cmake --build build-${{ matrix.name }}

      - name: Test
        env: ${{ matrix.test_env }}
        run: cd build-${{ matrix.name }} && ctest --output-on-failure
